body, ul, figure {
  font-family: 'Roboto Mono', monospace;
  background-color: #78eb40;
  color: #168eeb;
}

h1, h2, h3 h4, h5, h6 {
  font-family: 'Bungee Shade', cursive;
}

h1 {
  font-size: 40pt;
}

h2 {
  margin: .1em;
}

header { 
  text-align: center;
}

.myface, footer {
  text-align: center;
}

.am {
  text-align: center;
}

.can {
  text-align: right;
}

.realface {
  height: 400px;
}

/* Hobbies */

section .hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hobby-lord .photo-lord {
  margin-bottom: 0px;
}

.hobbies {  
  margin-top: 0px;
}

.hobby:hover {
  color: #4be9f5;
  animation-duration: 3s;
  animation-name: slidein;
}

/* Gallery */

.photo-lord {
  text-align: center;
}

.gallery {
    border: 10px solid #07f083
}

.gallery img {
  max-width: 100%;
  text-align: center;
}

.gallery figure {
  text-align: center;
}

.lit {
  text-align: center;
}

.lit div {
  padding: 2rem;
  max-width: 40rem;
  margin: 0 auto;
}

.lit div p {
  padding: 0.3rem 0;
  clear: both;
}

/* Dropcaps */

.lit div p:first-child:first-letter {
  color: #168eeb;
  float: left;
  font-size: 3em;
  padding: .25em;
  margin-right: .25m;
  line-height: .65;
  border: 3px solid #4BE9f5;

}

/* Tablet Size */
@media screen and (min-width: 60em) {
  figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
  }

  figure img{
    width: 100;
  }
  
  .lit div {
    max-width: 100%;
    columns: 20rem;
  }
}

/* Large Screen Size */
@media screen and (min-width: 100em) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  hr {
    display: none;
  }

  .gallery h2 {
    grid: 1 / 4;
  }

  figure {
    display: block;
  }
}